
body {
  margin: 0;
  display: flex;
}
/*base.html*/
.app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.topbar {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 16px;
 
}
.sidebar {
  width: 220px;
  min-height: 100vh;
  background: #f3f3f3;
  padding-top: 100px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.botonNegro{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid black;
    margin:20px
}
.botonSalir{
    margin-bottom: 40px;
    margin-top:10em;
}
.botonNegro:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
} 
.sidebar .botonNegro.activo, .botonNegro:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
} 
/*login.html*/
.loginBody {
    margin: 0;
    height: 100vh; /* ocupa toda la pantalla */
    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: center;     /* centra vertical */
    background-color: #ffffff; /* opcional */
}


.loginContainer{
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: #f3f3f3;
  padding: 50px 20px;
  border-radius: 25px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.loginCard form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#loginLogo{
  width: 320px;
  height: 320px;
}

div form input{

  background-color: white;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
}
.botonLogin{
  
}

/*inicio.html*/
.content {
  margin-top: 20px;
}

.dashboard h1 {
  margin-bottom: 10px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
