<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Bar{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nata+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

  <!-- Sidebar -->
  <aside class="sidebar">
    <nav>
      <a href="/inicio" class="botonNegro">Inicio</a>
      <a href="/vender" class="botonNegro">Vender</a>
      <a href="/nuevosClientes" class="botonNegro">Nuevos Clientes</a>
      <a href="/facturas" class="botonNegro">Facturas</a>
      <a href="/productos" class="botonNegro">Productos</a>
      <a href="/cuentas" class="botonNegro">Cuentas</a>
      <a href="/cobrar" class="botonNegro">Cobrar</a>
      <a href="/pedidos" class="botonNegro">Pedidos</a>
      <br><br><br><br>
      <a href="{{ url_for('login') }}" class="botonNegro botonSalir">Salir</a>

    </nav>
  </aside>

  <!-- Contenedor principal -->
  <div class="app">

    <header class="topbar">
      <button class="botonNegro">
        {{ user.nombre if user else "Usuario" }}
      </button>
    </header>

    <main class="content">
      {% block content %}{% endblock %}
    </main>

  </div>

</body>

</html>
