<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Bar{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nata+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

  <!-- Sidebar -->
  <aside class="sidebar">
    <nav>
      <a href="{{ url_for('inicio') }}" 
           class="botonNegro {{ 'activo' if request.endpoint == 'inicio' else '' }}">
           Inicio
        </a>

        <a href="{{ url_for('vender') }}" 
           class="botonNegro {{ 'activo' if request.endpoint == 'vender' else '' }}">
           Vender
        </a>

        <a href="{{ url_for('nuevosClientes') }}" 
           class="botonNegro {{ 'activo' if request.endpoint == 'nuevosClientes' else '' }}">
           Nuevos Clientes
        </a>

        <a href="{{ url_for('facturas') }}" 
           class="botonNegro {{ 'activo' if request.endpoint == 'facturas' else '' }}">
           Facturas
        </a>

        <a href="{{ url_for('productos') }}" 
           class="botonNegro {{ 'activo' if request.endpoint == 'productos' else '' }}">
           Productos
        </a>

        <a href="{{ url_for('cuentas') }}" 
           class="botonNegro {{ 'activo' if request.endpoint == 'cuentas' else '' }}">
           Cuentas
        </a>

        <a href="{{ url_for('cobrar') }}" 
           class="botonNegro {{ 'activo' if request.endpoint == 'cobrar' else '' }}">
           Cobrar
        </a>

        <a href="{{ url_for('pedidos') }}" 
           class="botonNegro {{ 'activo' if request.endpoint == 'pedidos' else '' }}">
           Pedidos
        </a>

        <a href="{{ url_for('login') }}" class="botonNegro botonSalir">
            Salir
        </a>

    </nav>
  </aside>

  <!-- Contenedor principal -->
  <div class="app">

    <header class="topbar">
      <button class="botonNegro">
        {{ user.nombre if user else "Usuario" }}
      </button>
    </header>

    <main class="content">
      {% block content %}{% endblock %}
    </main>

  </div>

</body>

</html>
