<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - Bar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nata+Sans:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="login-body">

    <div class="login-container">

        <div class="login-card">

            <img src="images/logo_login.png" class="login-logo">
            <br><br><br>
            <h2>Iniciar Sesión</h2>
            <br><br><br>

            <form method="POST" class="login-input">
                <input type="text" name="username" placeholder="Usuario" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit" class="botonNegro" id="botonLogin">Ingresar</button>
            </form>

        </div>

    </div>

</body>
</html>
