
body {
  margin: 0;
  display: flex;
}
/*base.html*/
.app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.topbar {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 16px;
 
}
.sidebar {
  width: 220px;
  min-height: 100hv;
  background: #f3f3f3;
  padding-top: 100px;
}
.botonNegro{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid black;
    margin:20px
}
.botonSalir{
    margin-bottom: 40px;
    margin-top:10em;
}
.botonNegro:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
} 
